<nav class="navbar navbar-expand-sm bg-success navbar-dark sticky-top mb-1">
    <div class="navbar-header">
        <div class="navbar-brand"><strong>Greensoft</strong></div>
    </div>
</nav>

<div class="container">
    <!--
<div class="jumbotron">
<h1>My first programme</h1>    
</div>
-->
<div class="row">
    <!--
<div class="col-lg-6">       
    <app-user></app-user>
</div>  
<div class="col-lg-6">
    <app-register></app-register>
</div>    
<app-sachin></app-sachin>

<app-calculator></app-calculator>

<app-triangle>Loading...</app-triangle>
<app-doctors>Loading... </app-doctors>
-->

<app-profile> Not Working : check your console ... </app-profile>


</div>

</div>

<div class="footor mt-5">
    <div class="navbar fixed-bottom bg-success navbar-dark mb-0">

    </div>
</div>